# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# HuggingFace cache
.cache/
huggingface/

# Raw datasets (no subir CSV originales)
data/raw/

# Processed data and embeddings
data/processed/*.pkl
data/processed/*.bin

# FAISS index
data/index/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
